body {
	background: url("http://i.imgur.com/c0tyQIH.png");
	background-repeat: no-repeat;
	background-color: white;
	height: 700px;
	background-size: cover; 
	}

#menu {
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	font-size: 12px;
	text-align: center;

	top: 0px;
	left: 100px;
	position: absolute;
	z-index: 0;
	width: 350px;
	height: 48px;
	background-color: rgba(128,0,0,.6);
	}

		#menu ul {
    	list-style-type: none;
    	padding: 2px;
    	text-align: center;
		}

		#menu li {
		display: inline-block;
		padding: 8px;
		}

		#menu a {
		text-decoration: none;
		color: white;
		letter-spacing: 2px;
    	display: block;
    	width: 50px;
		}


.logo { 
	margin: 23px 0px 0px 6px;
	}

.logobox {
	top: 50px;
	left: 100px;
	position: absolute;
	z-index: 0;
	width: 350px;
	height: 270px;
	margin-top: 0px;
	background-color: rgba(128,0,0,.6);
	}	

.box2 {
	top: 272px;
	left: 0px;
	position: absolute;
	z-index: 0;
	width: 350px;
	height: 330px;
	margin-top: 0px;
	background-color: rgba(128,0,0,.6);
	color: white;
	}	


h1 {
	padding-top: 0px;
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-size: 32px;
	margin: 30px 10px -3px 20px;
	}


h2 {
	padding-top: 0px;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	margin: 10px 25px 35px 20px;
	}

hr {
	border-color: white;
	width: 30px;
	height: 1px;
	background-color: white;
	margin-left: 20px;
	}

p {
	padding-top: 0px;
	font-family: 'Merriweather', serif;
	font-weight: lighter;
	line-height: 165%;
	font-size: 12px;
	margin: 20px 25px 0px 20px;
	}


