body {
	background: url("http://i.imgur.com/XfYvkrC.png");
	background-position: top center;
	background-size: cover; 
	background-repeat: no-repeat;
	background-color: #52596B
	


}

.header {
	background-image:url("http://i.imgur.com/314ZPzb.png");
    background-repeat: repeat-x;
    position: absolute;
    width: 100%; 
    height: 100%; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

h1 {
	margin-left: 100px;
	margin-top: 250px;
}

hr {
	border-color: #fd6e6e;
	width: 50px;
	height: 1px;
	background-color: #fd6e6e;
	margin-left: 100px;
}

p{
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 22px;
	margin-left: 100px;
}